*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body{
    font-family: 'poppins',sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--primary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.smallboldtext{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    padding-inline: var(--padding-inline-section);
    margin-inline: auto;
}
.flex{
    display: flex;
    align-items: center;
}
.hoverlinks{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hoverlinks:hover{
    color: var(--accent-color);
}
.primarybutton{
    background-color: var(--accent-color);
    border-radius:6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primarybutton:hover{
   background-color: var(--accent-color-dark);
}
.secondarybutton{
    border: 2px solid var(--secondary-text-color);
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 700;
    transition: 0.2s ease-out;
    color: var(--primary-text-color) !important ;

}
.secondarybutton:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/*top banner*/

.bannertext{
    text-align: center;
    padding: 10px 30px;
    color: #ffffff;
   
}
.top-banner{
    background-color: #4FB3D4;
    width: 100%;
    height: 44px;
    background-image: url(assets/asset\ 28.png);
}

/*navbar*/

.main-nav{
    margin-top: 20px;
    justify-content:space-between ;
}
.companylogo img{
    width: 200px;
}
.navlinks{
  flex-basis: 790px;
}
.navlinks ul{
    justify-content: end;
    gap: 40px;
}
